/*
CSS used for plugins in SDPN
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: Roboto, sans-serif;
}

body.communications h1 {
    display: inline-block;
}
.communicationLine {
	padding: 0.2em;
	border-bottom: 1px solid #dfdfdf;
}
.communicationLink {
	color: #010101;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	font-size: 0.8em;
}